
/*
General Font: font-family: 'Lora', serif;
Paragraph Font: font-family: 'Open Sans', sans-serif;
Signature Font: font-family: 'Kalam', cursive;
Main Color Blue:  rgb(67, 91, 226)
Second Color Grey: rgb(88, 90, 105)
*/

/*
############################################
GENERAL
############################################
*/
html {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
}

body {
	margin: 2px;
}

.container {
	width: 90%;
	max-width: 1400px;
	margin: 0 auto;
	font-family: 'Lora', serif;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.hr-half {
	max-width: 700px;
	border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.hr-threequarter {
	max-width: 1400px;
	border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}


/*
############################################
HEADER
############################################
*/
/*general formatting of navbar, flexbox*/
#navbar {
	height: 50px;
	top: 0px;
	background-color: white;
	z-index: 9999;
}
.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
	max-width: 1400px;
	margin: auto;
}

/*format name on the left hand side*/
.name {
	white-space: nowrap;
	display: flex;
	align-items: center;
	font-family: 'Lora', serif;
	font-weight: 700;
	font-size: 19px;
	float: left;
	cursor: pointer;
	text-decoration: none;
	color: black;
	padding-top: 5px;
}
.name:hover{color:rgb(67, 91, 226);}


/* hamburger menu with 3 horizontal bars */
.navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    transition: background-color 0.2s ease-in-out,
                transform 0.2s ease-in-out,
                opacity 0.2s ease-in-out;
    background-color: rgb(88, 90, 105);
}
.navbar-toggle:hover .icon-bar {background-color: rgb(67, 91, 226)}
/* JS adds .opened class to navbar, adding these properties. Make hamburger menu into x by rotating bars */
#navbar.opened .navbar-toggle .icon-bar:first-child,
#navbar.opened .navbar-toggle .icon-bar:last-child {position: absolute; margin: 0; width: 30px;}
#navbar.opened .navbar-toggle .icon-bar:first-child {transform: rotate(45deg);}
#navbar.opened .navbar-toggle .icon-bar:nth-child(2) {opacity: 0;}
#navbar.opened .navbar-toggle .icon-bar:last-child {transform: rotate(-45deg);}

/* format menu bar. initially hidden 60 px below top of screen */
.navbar-menu {
    position: fixed;
    top: 51px;
    bottom: 0;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
}

/*change max height and visibility of menu when clicked on hamburger menu*/
#navbar.opened .navbar-menu {
    opacity: 1;
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.4);
}
#navbar.opened .navbar-links {
    padding: 1em;
    max-height: none;
}

/* navbar list of links*/
.navbar-link {
	margin-top: 10px;
	color: black;
	transition: all 0.2s;
	text-decoration: none;
	display: flex;
}

.navbar-links {
    list-style-type: none;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    right: 0;
    margin: 1.4rem;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.navbar-link:hover {color: rgb(67, 91, 226); text-decoration: underline;}

.navbar-item {
    margin: 0.4em;
	font-family: 'Lora', serif;
	font-weight: 400;
	font-size: 16px;
	color:rgb(88, 90, 105);
}

/*media query to show/hide hamburger menu depending on screen size*/
/*mobile-first. property applies when screen width exceeds 800 px*/
/*hamburger becomes invisible, navbar menu follows name*/
@media screen and (min-width: 800px) {
    .navbar-toggle {display: none;}

    #navbar .navbar-menu,
    #navbar.opened .navbar-menu {
        visibility: visible;
        opacity: 1;
        position: static;
        display: block;
        height: 100%;
    }

    #navbar .navbar-links,
    #navbar.opened .navbar-links {
        margin: 0;
        padding: 0;
        box-shadow: none;
        position: static;
        flex-direction: row;
        list-style-type: none;
        max-height: max-content;
        width: 100%;
        height: 100%;
    }
    #navbar .navbar-link:last-child {margin-right: 0;}
    #navbar .navbar-link {margin-left: 60px;}
    #navbar {position: static;}
}







/*
############################################
JUMBOTRON
############################################
*/
.jumbotron {
	padding-top: 80px;
	animation-name: fadein;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.75s;
	opacity: 1;
}

.avatar {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 160px;
	height: auto;
	transition: all 0.15s;
	border-radius: 50%;
}

.avatar:hover {
	transform: translateY(-2px);
	box-shadow: 0 5px 10px rgba(67, 91, 226, 1);
}

@keyframes fadein {
	0% {
		padding-top: 70px;
		opacity: 0;
	}
	100% {
		padding-top: 80px;
		opacity: 1;
	}
}

.jumbotron h1 {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	font-weight: 400;
	font-size: 1.8rem;
	color: rgb(88, 90, 105);
	margin-bottom: 5px;
}

.jumbotron p {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 7px;
	margin-bottom: 7px;
	font-weight: 400;
	font-size: 16px;
	color: rgb(153, 156, 179);
}

.jumbotron:after {
	/*clear fix*/
	content: "";
  	display: table;
  	clear: both;
}

.author-more {
	margin-top: 1.3rem;
	margin-bottom: 1.3rem;
	text-align: center;
}
.button {
	display: inline-block;
	padding: 10px 25px;
	font-size: 14px;
	font-weight: bold;
	border-radius: 40px;
	color: white;
	background-color:rgb(67, 91, 226);
	border: solid 2px rgb(67, 91, 226);
	text-decoration: none;
	transition: all 0.2s
}

.button:hover {
	background-color: white;
	color: rgb(67, 91, 226);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	transform: translateY(-4px);
}


.jumbotron .quick-link ul{
	text-align: center;
	padding-inline-start: 0px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.jumbotron .quick-link li{
	display: inline-block;
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 0.7rem;
}
@media screen and (max-width: 600px) {
  .jumbotron .quick-link li {
    padding-left: 0.48rem;
	  padding-right: 0.48rem;
    font-size: 0.6rem;
  }
}

.quick-link a {
	text-decoration: none;
	color: rgb(153, 156, 179);
}

.quick-link li:hover svg{
	color:rgb(67, 91, 226);
	text-decoration: underline;
	fill:rgb(67, 91, 226);
}

.quick-link li:hover a{
	color:rgb(67, 91, 226);
	text-decoration: underline;
}


/*
############################################
MAIN PAGE - GENERAL
############################################
*/
.resume-content {
	width: 650px;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
}
@media screen and (max-width: 800px) {
.resume-content {width: 100%;}
}
.resume-content h1 {
	display: inline-block;
	margin-top: 16px;
	font-family: 'IBM Plex Mono', monospace;
	font-size: 1.4rem;
	font-weight: bold;
	color:rgb(67, 91, 226);
	margin-bottom: 12px;
}
.resume-content h1:hover {
	cursor: pointer;
}
.resume-content h1::after {
	content: '';
	display: block;
	height: 4px;
	width: 0%;
	background-color:rgb(67, 91, 226);
	transition: width 0.2s;
}
.resume-content h1:hover::after {
	width: 100%;
}

/*
############################################
MAIN PAGE - POST HIGHLIGHTS
############################################
*/
.resume-content .post-box {
	text-decoration: none;
    display: block;
    margin-bottom: 2px;
    margin-top: 2px;
    transition: all 0.1s;
    height: auto;
    padding-bottom: 4px;
}
.resume-content .post-box:hover {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	transform: translateY(-2px);
}
.resume-content .post-title{
	font-size: 0.85rem;
	color:#404143;
	margin: 4px 10px 2px 10px;
	max-width: 75%;
}
.resume-content .post-date {
	display: inline-block;
	font-size: 0.75rem;
	margin: 4px 10px 2px auto;
	color: rgb(130 130 130);
}
.resume-content .post-description{
	font-size: 0.8rem;
	margin: 4px 10px 4px 10px;
	color: rgb(130 130 130);
}

.resume-content .readmore{
	text-align: right;
	text-decoration: underline;
	display: block;
	color: #404143;
	font-size: 0.9rem;
	margin-right: 8px;
	margin-top: 18px;
}
.resume-content .readmore:hover{
	color: rgb(67, 91, 226);
}




/*
############################################
MAIN PAGE - PROJECT
############################################
*/
.resume-content .spacer {
	position: relative;
}

.resume-content .tab-content .project-title {
	text-align: center;
	font-size: 22px;
	font-family: "lora", serif;
}

.resume-content .tabs {
	position:absolute;
	margin:auto;
	margin-left: 12px;
  	width:700px;
  	height:700px;
	overflow: hidden;
  	transform-origin: top left;
}

#my-projects.resume-content {
  height: 750px;
}

@media (max-width: 650px) {
  .resume-content .tabs {
    transform: scale(0.8);
  }
  #my-projects.resume-content {
    height: 650px;
  }
}
@media (max-width: 550px) {
  .resume-content .tabs {
    transform: scale(0.55);
  }
  #my-projects.resume-content {
    height: 500px;
  }
}

.resume-content .tabs .tab-header {
	float:left;
	width:275px;
	height:100%;
	border-right:1px solid #ccc;
	padding: 5px 0px;
	font-family: 'Open Sans', sans-serif;
}


.resume-content .tabs .tab-header > div{
	height:50px;
	line-height:50px;
	font-size:16px;
	color:grey;
	cursor:pointer;
}
.resume-content .tabs .tab-header > div:hover,
.resume-content .tabs .tab-header > div.active-tab {
  color:rgb(67, 91, 226);
}



.resume-content .tabs .tab-content {
	max-width:69%;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	height: 100%;
	overflow: hidden;
  }
.resume-content .tabs .tab-content img {
	display: block;
	margin-right: auto;
	margin-left: auto;
	height: auto;
	max-width: 70%;
}
.resume-content .tabs .tab-content p {
	font-size: 14px;
	color :rgba(61, 55, 55, 0.8);
}




.resume-content .tabs .tab-content > div {
	position:absolute;
	top:200%;
  	transition:all 500ms ease-in-out;
}
.resume-content .tabs .tab-content > div.active-tab {
	top:0px;
}
.resume-content .tabs .tab-indicator {
	position:absolute;
	width:5px;
	height:50px;
	background:rgb(67, 91, 226);
	left:270px;
	top:25px;
	transition:all 500ms ease-in-out;
  }





/*
############################################
ABOUT PAGE - BODY
############################################
*/
.aboutpage {
	width: 90%;
	max-width: 880px;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	color:#434445;
	font-size: 0.9rem;
	line-height: 1.6;
}

@media (max-width: 750px) {
    .aboutpage {
        width: 99%;
    }
}
.aboutpage h1 {
	font-family: lora, serif;
	font-size: 1.6rem;
	font-weight: bold;
	padding-left: 6px;
	margin-left: -2%;
	margin-right: -2%;
	border-radius: 5px;
	color: rgb(96, 96, 96);
}
.aboutpage .aboutpage-pic {
	float: left; 
	width:300px; 
	margin: 6px 15px 0px 0px;
}
@media (max-width: 750px) {
	.aboutpage .aboutpage-pic {
		float: none;
		display: block;
		margin: 0 auto 15px auto;
		width: 100%;
	}
}

/*
############################################
FOOTER
############################################
*/
.footer1 {
	width: 100%;
	background-color: rgb(53, 49, 49);
	font-family: lora, serif;
	color: white;
	height: 90px;
	font-size: 0.75rem;
	text-align: center;
}

.footer1 svg {
	display: inline-block;
	width: 50px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

.footer1 .copyright-footer {margin-top: 6px;}
.footer1 svg:hover path {fill:rgb(67, 91, 226)}
.footer1 svg:hover circle {fill:white;}



/*
############################################
BLOG AND ENGINEERING PAGE
############################################
*/
.blog-jumbotron {
	padding-top: 80px;
}
.blog-jumbotron .blog-h1 {
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	color: rgb(88, 90, 105);
}
.blog-jumbotron .blog-p {
	text-align: center;
	max-width: 100%;
	text-align: center;
	font-size: 100%;
	margin-bottom: 50px;
	color: rgb(153, 156, 179);
}


.blog-index-page {
	margin: auto;
	background-color:#ffffff;
	padding-bottom: 10px;
	padding-top: 20px;
	display: flex;
	gap: 36px;
	justify-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
}
.blog-post-box {
	border: 1px solid #8a8a8a;
	border-radius: 15px;
	background-color: rgb(255, 255, 255); 
	transition: all 0.1s;
	cursor: pointer;
	text-decoration: none;
	color: rgb(54, 54, 54);
	flex: 1 1 20%;
	min-width: 260px;
	height: 400px;
	overflow: hidden;
}
.blog-post-box:hover {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	transform: translateY(-2px);
}
.post-thumbnail {
	width: 100%;
	margin: 0px;
  	max-width: 100%;
	height: 46%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	display: inline-block;
}

.post-taglist {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	display: inline-block;
	padding: 3px 8px 3px 8px;
	margin-left: 4px;
	background-color: #eae7e7;
	color: #000000;
	border-radius: 12px;
} 
.tag-date-container {
	display: flex;
	height: 12%;
	width: 95%;
	margin: auto;
}
.post-date {
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8rem;
	margin-left: auto;
	color:#484d52;
}
.post-words {
	width: 92%;
	margin: auto;
	height: 32%;
	overflow: hidden;
}
.post-title {
	margin-top: 1px;
	margin-bottom: 4px;
	font-size: 1.1rem;
	text-align: left;
	font-weight: bold;
}
.post-description {
	margin-top: 8px;
	font-size: 0.9rem;
}
.post-readtime {
	width: 92%;
	margin: auto;
	font-family: 'Open Sans', sans-serif;
	color:#484d52;
	height: 10%;
	font-size: 0.8rem;
}

.pagination {
	display: flex;
  	justify-content: center;
  	padding: 1rem 0;
	margin-bottom: 40px;
	margin-top: 20px;
}

.pagination a {
	margin: 0 5px;
	padding: 10px 15px;
	text-decoration: none;
	font-size: 16px;
	color: rgb(40, 39, 39);
	border: 1px solid #dee2e6;
	border-radius: 4px;
}

.pagination a:hover {
	background-color: #e9ecef;
}
  
.pagination a.pagination-active {
	color: #ffffff;
	background-color: rgb(67, 91, 226);
	border-color: rgb(67, 91, 226);
	pointer-events: none;
}



/*
############################################
YEAR AND TAG PAGE
############################################
*/

.tag-page-container {
	width: 60%; 
	min-width: 340px;
	margin: 0 auto;
	margin-top: 25px;
}

@media (max-width: 900px) {
	.tag-page-container {
	  width: 100%;
	}
	.tag-button-container{
		text-align: center;
	}
}



.tag-button-container {
	margin-top: 30px;
	margin-bottom: 20px;
}
.tag-button {
	display: inline-block;
	padding: 10px 25px;
	font-size: 14px;
	font-weight: bold;
	border-radius: 16px;
	color: white;
	background-color:rgb(63, 63, 65);
	border: solid 2px rgb(18, 18, 18);
	text-decoration: none;
	transition: all 0.2s
}
.tag-button:hover {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	transform: translateY(-4px);
}



.tag-item a{
	text-decoration: none;
	color: rgb(61, 62, 69);
	font-size: 0.88rem;
}
.tag-item a:hover{
	text-decoration: underline;
}
.tag-header {
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.05rem;
	padding-left: 8px;
	border-radius: 5px;
	text-decoration: none;
	padding-bottom: 3px;
	background-color: #e3dede;
	color: #000000;
	border: 1px solid #969595;
}




/*
############################################
BLOG POSTS
############################################
*/
.blog-global-container {
	width: 90%;
	margin: 0 auto;
}
.blog-wrapper {
	background-color: #484d52;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-left: -5.5%;
	margin-right: -5.5%;
}

.blog-post {
	max-width: 90ch;
	padding: 3.6rem;
	padding-top: 2rem;
	margin: auto;
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	color:rgb(2, 2, 2);
	background-color: white;
	color:#313234;
}

@media (max-width: 750px) {
  .blog-post {
    padding: 1rem;
  }
}

.blog-post img {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width:100%;
}
.blog-post h1 {
	font-weight: 400;
	font-size: 2.2rem;
	margin-bottom: 5px;
	color: black;
	font-family:'lora', sans-serif;
}
.blog-post p{
	line-height: 1.6;
}
.blog-post ul,ol{
	line-height: 1.6;
}
.blog-post h2 {
	margin-bottom: 21px;
	font-size: 1.46rem;
	font-weight: bold;
	color: black;
}
h2::after {
	content: "";
	display: block;
	border-top: 1px solid #000;
	margin-top: 10px;
	margin-bottom: 10px;
  }

.blog-post h3 {
	font-size: 1.2rem;
	color: black;
}
.blog-post h4 {
	font-size: 1.0rem;
	font-weight: normal;
	text-decoration: underline;
	color: black;
}
.blog-post blockquote {
	border-left: rgb(80 84 206) 4px solid;
	color: rgb(80 84 206);
	padding-left: 15px;
	font-family: "lora", serif;
	background-color: #f9f9f9;
	font-size: 1.05rem;
}
.blog-post .note-box, .blog-post .tip-box, .blog-post .caution-box, .blog-post .tldr-box{
	border-left: 5px solid;
	padding: 10px 15px;
	margin: 10px 0;
	border-radius: 6px;
}
.blog-post .tldr-box {
	background-color: #d0d2d4;
	border-color: #1e2128;
}
.blog-post .note-box {
	background-color: #d7e2f6;
	border-color: #3273e2;
}
.blog-post .tip-box {
	background-color: #dbecdf;
	border-color: #379a4e;
}
.blog-post .caution-box {
	background-color: #f8dfe1;
	border-color: #ef6775;
}
.blog-post .tldr-box::before {
    white-space: pre-wrap;
    content: "TLDR\A";
    font-weight: bold;
    color: #151516;
    font-size: 0.9rem;
}
.blog-post .note-box::before {
	white-space: pre-wrap;
  content: "📝 Note\A";
  font-weight: bold;
  color: #0c4ab4;
  font-size: 0.9rem;
}
.blog-post .tip-box::before {
	white-space: pre-wrap;
  content: "💡 Tip\A";
  font-weight: bold;
  color: #0a7423;
  font-size: 0.9rem;
}

.blog-post .caution-box::before {
	white-space: pre-wrap;
  content: "⚠️ Caution\A";
  font-weight: bold;
  color: #a81927;
  font-size: 0.9rem;
}

table {
	border: 1px solid #ddd;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
} 
th, td {
	font-weight: 400;
	border: 1px solid #ddd;
	text-align: center;
	padding: 15px;
}
.blog-post img + em {
	color: rgb(88, 90, 105);
	font-size: 0.8rem;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	display: block;
	font-family:'lora', sans-serif;
}

.blog-post .reading-time {
	color: rgb(144, 145, 158);
	font-size: 0.85rem;
	margin-bottom: 65px;
}

.blog-post .post-tag {
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 3px;
	height: 2em;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8rem;
	display: inline-block;
	border-radius: 12px;
	cursor: pointer;
	text-decoration: none;
	padding-bottom: 3px;
	background-color: #eae7e7;
	color: #000000;
	margin-bottom: 10px;
}
.blog-post .post-tag:hover {
	cursor: pointer;
	color:white;
	background-color: rgb(67, 91, 226);
}
.blog-comments {
	color:rgb(67, 91, 226);
	margin-top: 24px;
	display: block;
}
.blog-comments:hover {
	cursor: pointer;
}

.buttondown-container {
	border: 1px solid rgb(102, 98, 98);
	border-radius: 6px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.embeddable-buttondown-form .email-input {
	width: 70%; 
	padding: 12px; 
	margin-bottom: 12px; 
	border: 1px solid rgb(67, 91, 226); 
	border-radius: 8px; 
	box-sizing: border-box;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.embeddable-buttondown-form .submit-button {
	width: 70%; 
	padding: 12px; 
	background-color:rgb(67, 91, 226); 
	color: white; 
	border: none; 
	border-radius: 8px; 
	cursor: pointer;
	font-weight: bold;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height:2.6rem;
}


.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.blog-post .emoji {
	display:inline;
	width: auto;
}


/*code snippet: https://github.com/jwarby/jekyll-pygments-themes*/
/*https://jwarby.github.io/jekyll-pygments-themes/languages/javascript.html*/
/* .highlighter-rouge {border-style: inset;} */
.highlight {font-size: 0.9rem; width: 100%; margin: auto; overflow-x: auto; padding: 8px;}
.highlight pre { background-color: #f0efef; }
.highlight .hll { background-color: #f0efef; }

.highlight .c { color: #008000 } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #0000ff } /* Keyword */
.highlight .cm { color: #008000 } /* Comment.Multiline */
.highlight .cp { color: #0000ff } /* Comment.Preproc */
.highlight .c1 { color: #008000 } /* Comment.Single */
.highlight .cs { color: #008000 } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { font-weight: bold } /* Generic.Heading */
.highlight .gp { font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: #0000ff } /* Keyword.Constant */
.highlight .kd { color: #0000ff } /* Keyword.Declaration */
.highlight .kn { color: #0000ff } /* Keyword.Namespace */
.highlight .kp { color: #0000ff } /* Keyword.Pseudo */
.highlight .kr { color: #0000ff } /* Keyword.Reserved */
.highlight .kt { color: #2b91af } /* Keyword.Type */
.highlight .s { color: #a31515 } /* Literal.String */
.highlight .nc { color: #2b91af } /* Name.Class */
.highlight .ow { color: #0000ff } /* Operator.Word */
.highlight .sb { color: #a31515 } /* Literal.String.Backtick */
.highlight .sc { color: #a31515 } /* Literal.String.Char */
.highlight .sd { color: #a31515 } /* Literal.String.Doc */
.highlight .s2 { color: #a31515 } /* Literal.String.Double */
.highlight .se { color: #a31515 } /* Literal.String.Escape */
.highlight .sh { color: #a31515 } /* Literal.String.Heredoc */
.highlight .si { color: #a31515 } /* Literal.String.Interpol */
.highlight .sx { color: #a31515 } /* Literal.String.Other */
.highlight .sr { color: #a31515 } /* Literal.String.Regex */
.highlight .s1 { color: #a31515 } /* Literal.String.Single */
.highlight .ss { color: #a31515 } /* Literal.String.Symbol */