
/*
General Font: font-family: 'Lora', serif;
Paragraph Font: font-family: 'Open Sans', sans-serif;
Signature Font: font-family: 'Kalam', cursive;
Main Color Blue:  rgb(67, 91, 226)
Second Color Grey: :rgb(88, 90, 105)
*/



/*
############################################
GENERAL STYLE
############################################
*/
* {
	box-sizing: border-box;
}

body {
	margin: 2px;
}

.container {
	width: 90%;
	margin: 0 auto;
	font-family: 'Lora', serif;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.hr-half {
	width: 75%;
	border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}


/*
############################################
PART 1: HEADER STYLES
############################################
*/
header {
	margin-top: 24px;
	margin-bottom: 12px;
}

header #name {
	font-family: 'Lora', serif;
	font-weight: 700;
	font-size: 19px;
	float: left;
	cursor: pointer;
}

header #name:hover {
	color:rgb(67, 91, 226);
}

header:after {
	/*clear fix*/
	content: "";
  	display: table;
  	clear: both;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
}

nav li {
	display: inline-block;
	margin-left: 70px;
	font-family: 'Lora', serif;
	font-weight: 400;
	font-size: 16px;
	color:rgb(88, 90, 105);
}

nav a {
	color: black;
	text-decoration: none;
	transition: color 0.2s; 
}

nav a:hover {
	color: rgb(67, 91, 226);
}


nav a::after {
	content: '';
	display: block;
	height: 2px;
	width: 0%;
	background-color:rgb(67, 91, 226);
	transition: width 0.2s;
}

nav a:hover::after {
	width: 100%;
}



/*
############################################
PART 2: JUMBOTRON STYLES
############################################
*/
.jumbotron {
	padding-top: 80px;
	animation-name: fadein;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.75s;
	opacity: 1;
}

.avatar {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 160px;
	height: auto;
	transition: all 0.15s;
	border-radius: 50%;
}

.avatar:hover {
	transform: translateY(-2px);
	box-shadow: 0 5px 10px rgba(67, 91, 226, 1);
}

@keyframes fadein {
	0% {
		padding-top: 70px;
		opacity: 0;
	}
	100% {
		padding-top: 80px;
		opacity: 1;
	}
}

.jumbotron h1 {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	font-weight: 400;
	font-size: 32px;
	color: rgb(88, 90, 105);
	margin-bottom: 5px;
}

.jumbotron p {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 7px;
	margin-bottom: 7px;
	font-weight: 400;
	font-size: 16px;
	color: rgb(153, 156, 179);
}

.jumbotron:after {
	/*clear fix*/
	content: "";
  	display: table;
  	clear: both;
}

.author-more {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}
.button {
	display: inline-block;
	padding: 10px 25px;
	font-size: 14px;
	font-weight: bold;
	border-radius: 40px;
	color: white;
	background-color:rgb(67, 91, 226);
	border: solid 2px rgb(67, 91, 226);
	text-decoration: none;
	transition: all 0.2s
}

.button:hover {
	background-color: white;
	color: rgb(67, 91, 226);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	transform: translateY(-4px);
}



.jumbotron .quick-link ul{
	text-align: center;
	padding-inline-start: 0px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.jumbotron .quick-link li{
	display: inline-block;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 12px;
}

.quick-link a {
	text-decoration: none;
	color: rgb(153, 156, 179);
}

.quick-link li:hover svg{
	color:rgb(67, 91, 226);
	text-decoration: underline;
	fill:rgb(67, 91, 226);
}

.quick-link li:hover a{
	color:rgb(67, 91, 226);
	text-decoration: underline;
}


/*
############################################
PART 3: BODY STYLES - Education and Work
############################################
*/
.resume-content {
	width: 70%;
	margin: auto;
	font-family: 'Open Sans', sans-serif;
}

.resume-content h1 {
	display: inline-block;
	margin-top: 16px;
	font-family: 'IBM Plex Mono', monospace;
	font-size: 30px;
	font-weight: bold;
	color:rgb(67, 91, 226);
	margin-bottom: 1px;
}
.resume-content h1:hover {
	cursor: pointer;
}
.resume-content h1::after {
	content: '';
	display: block;
	height: 4px;
	width: 0%;
	background-color:rgb(67, 91, 226);
	transition: width 0.2s;
}
.resume-content h1:hover::after {
	width: 100%;
}



.resume-content .uni-company {
	margin-left: 25px;
	margin-top: 3px;
	margin-bottom: 5px;
}
input[type='checkbox'] {
	display: none;
}
.resume-content .role-label {
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
	margin-left: 3px;
	margin-top: 16px;
	margin-bottom: 1px;
}
.resume-content .details {
	font-size: 14px;
	margin-left: 25px;
	margin-top: 5px;
	color:rgb(144, 145, 158);
	max-height: 0px;
	overflow: hidden;
	transition: max-height .3s ease-in-out;
}
.role:checked + .role-label +.uni-company + .details {
	max-height: 100vh;
}


.plus-button {
	position: relative;
	display: inline-block;
    width: 14px;
	height: 14px;
	top: 2px;
}
.plus-button:before{
	content: "";
	position: absolute;
	background-color: grey;
	transition: transform 0.25s ease-out;
	top: 0;
	left: 50%;
	width: 4px;
	height: 100%;
	margin-left: -2px;
}
.plus-button:after{
	content: "";
	position: absolute;
	background-color: grey;
	transition: transform 0.25s ease-out;
	top: 50%;
	left: 0;
	width: 100%;
	height: 4px;
	margin-top: -2px;
}
.role:checked + .role-label .plus-button:before {
	cursor: pointer;
	transform: rotate(90deg);
}
.role:checked + .role-label .plus-button:after {
	cursor: pointer;
	transform: rotate(180deg);
}











/*
############################################
PART 4: FOOTER STYLES
############################################
*/
.footer1 {
	width: 100%;
	background-color: rgb(53, 49, 49);
	font-family: lora, serif;
	color: white;
	height: 70px;
	font-size: 12px;
	display: grid;
	grid-template-columns: 33.33% 33.33% 33.33%;
}

.footer1 a {
	color: white;
}

.footer1 .grid-item1 img {
	margin-top: 22px;
	margin-left: 15px;
	position: relative;
}
.footer1 .grid-item1 .designed {
	display: inline-block;
	position: absolute;
	margin-top: 28px;
	margin-left: 8px;
}



.footer1 .grid-item2 {
	text-align: center;
	padding-top: 15px;
}
.footer1 .grid-item2 svg {
	display: inline-block;
	width: 50px;
	margin-left: 10px;
	margin-right: 10px;
}

.footer1 .grid-item2 svg:hover path {
	fill:rgb(67, 91, 226);
}

.footer1 .grid-item2 svg:hover circle {
	fill:white;
}


.footer1 .grid-item3 {
	text-align: right;
	display: inline-block;
	position: relative;
}

.footer1 .grid-item3 .positioning{
	position: absolute;
	bottom: 20px;
	right: 1px;
}

