
/*
General Font: font-family: 'Lora', serif;
Paragraph Font: font-family: 'Open Sans', sans-serif;
Signature Font: font-family: 'Kalam', cursive;
Main Color Blue:  rgb(67, 91, 226)
Second Color Grey: :rgb(88, 90, 105)
*/


/*
############################################
GENERAL STYLE
############################################
*/
html {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
}

body {
	margin: 2px;
}

.container {
	width: 90%;
	margin: 0 auto;
	font-family: 'Lora', serif;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.hr-half {
	width: 60%;
	border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}


/*
############################################
PART 1: HEADER STYLES
############################################
*/
header {
	margin-top: 24px;
	margin-bottom: 12px;
}

header #name {
	font-family: 'Lora', serif;
	font-weight: 700;
	font-size: 19px;
	float: left;
	cursor: pointer;
	text-decoration: none;
	color: black;
}

header #name:hover {
	color:rgb(67, 91, 226);
}

header:after {
	/*clear fix*/
	content: "";
  	display: table;
  	clear: both;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
}

nav li {
	display: inline-block;
	margin-left: 70px;
	font-family: 'Lora', serif;
	font-weight: 400;
	font-size: 16px;
	color:rgb(88, 90, 105);
}

nav a {
	color: black;
	text-decoration: none;
	transition: color 0.2s; 
}

nav a:hover {
	color: rgb(67, 91, 226);
}


nav a::after {
	content: '';
	display: block;
	height: 2px;
	width: 0%;
	background-color:rgb(67, 91, 226);
	transition: width 0.2s;
}

nav a:hover::after {
	width: 100%;
}



/*
############################################
PART 2: JUMBOTRON STYLES
############################################
*/
.jumbotron {
	padding-top: 80px;
	animation-name: fadein;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.75s;
	opacity: 1;
}

.avatar {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 160px;
	height: auto;
	transition: all 0.15s;
	border-radius: 50%;
}

.avatar:hover {
	transform: translateY(-2px);
	box-shadow: 0 5px 10px rgba(67, 91, 226, 1);
}

@keyframes fadein {
	0% {
		padding-top: 70px;
		opacity: 0;
	}
	100% {
		padding-top: 80px;
		opacity: 1;
	}
}

.jumbotron h1 {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	font-weight: 400;
	font-size: 32px;
	color: rgb(88, 90, 105);
	margin-bottom: 5px;
}

.jumbotron p {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 7px;
	margin-bottom: 7px;
	font-weight: 400;
	font-size: 16px;
	color: rgb(153, 156, 179);
}

.jumbotron:after {
	/*clear fix*/
	content: "";
  	display: table;
  	clear: both;
}

.author-more {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}
.button {
	display: inline-block;
	padding: 10px 25px;
	font-size: 14px;
	font-weight: bold;
	border-radius: 40px;
	color: white;
	background-color:rgb(67, 91, 226);
	border: solid 2px rgb(67, 91, 226);
	text-decoration: none;
	transition: all 0.2s
}

.button:hover {
	background-color: white;
	color: rgb(67, 91, 226);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	transform: translateY(-4px);
}



.jumbotron .quick-link ul{
	text-align: center;
	padding-inline-start: 0px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.jumbotron .quick-link li{
	display: inline-block;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 12px;
}

.quick-link a {
	text-decoration: none;
	color: rgb(153, 156, 179);
}

.quick-link li:hover svg{
	color:rgb(67, 91, 226);
	text-decoration: underline;
	fill:rgb(67, 91, 226);
}

.quick-link li:hover a{
	color:rgb(67, 91, 226);
	text-decoration: underline;
}


/*
############################################
PART 3: BODY STYLES - Education and Work
############################################
*/
.resume-content {
	width: 60%;
	margin: auto;
	font-family: 'Open Sans', sans-serif;
}

.resume-content h1 {
	display: inline-block;
	margin-top: 16px;
	font-family: 'IBM Plex Mono', monospace;
	font-size: 30px;
	font-weight: bold;
	color:rgb(67, 91, 226);
	margin-bottom: 1px;
}
.resume-content h1:hover {
	cursor: pointer;
}
.resume-content h1::after {
	content: '';
	display: block;
	height: 4px;
	width: 0%;
	background-color:rgb(67, 91, 226);
	transition: width 0.2s;
}
.resume-content h1:hover::after {
	width: 100%;
}



.resume-content .uni-company {
	max-height: 25px;
	margin-left: 22px;
	margin-top: 3px;
	margin-bottom: 5px;
}
input[type='checkbox'] {
	display: none;
}
.resume-content .role-label {
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
	margin-left: 3px;
	margin-top: 16px;
	margin-bottom: 1px;
}
.resume-content .details {
	font-size: 14px;
	margin-left: 25px;
	margin-top: 5px;
	color:rgb(144, 145, 158);
	max-height: 0px;
	overflow: hidden;
	transition: max-height .3s ease-in-out;
}
.role:checked + .role-label +.uni-company + .details {
	max-height: 100vh;
}


.plus-button {
	position: relative;
	display: inline-block;
    width: 14px;
	height: 14px;
	top: 2px;
}
.plus-button:before{
	content: "";
	position: absolute;
	background-color: grey;
	transition: transform 0.25s ease-out;
	top: 0;
	left: 50%;
	width: 4px;
	height: 100%;
	margin-left: -2px;
}
.plus-button:after{
	content: "";
	position: absolute;
	background-color: grey;
	transition: transform 0.25s ease-out;
	top: 50%;
	left: 0;
	width: 100%;
	height: 4px;
	margin-top: -2px;
}
.role:checked + .role-label .plus-button:before {
	cursor: pointer;
	transform: rotate(90deg);
}
.role:checked + .role-label .plus-button:after {
	cursor: pointer;
	transform: rotate(180deg);
}


.uni-company span {
	margin-left: 3px;
	font-size: 14px;
	color: slategray;
}





/*
############################################
PART 4: BODY STYLES - Project
############################################
*/
.resume-content .spacer {
	position: relative;
}

.resume-content .tab-content .project-title {
	text-align: center;
	font-size: 22px;
	font-family: "lora", serif;
}

.resume-content .tabs {
	position:absolute;
	margin:auto;
  	width:54%;
  	height:700px;
  	padding:20px 0px;
	overflow: hidden;
	  
}

.resume-content .tabs .tab-header {
	float:left;
	width:275px;
	height:100%;
	border-right:1px solid #ccc;
	padding: 5px 0px;
	font-weight: bold1;
	font-family: 'Open Sans', sans-serif;
}


.resume-content .tabs .tab-header > div{
	height:50px;
	line-height:50px;
	font-size:16px;
	color:grey;
	cursor:pointer;
}
.resume-content .tabs .tab-header > div:hover,
.resume-content .tabs .tab-header > div.active-tab {
  color:rgb(67, 91, 226);
}



.resume-content .tabs .tab-content {
	max-width:69%;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	height: 100%;
	overflow: hidden;
  }
.resume-content .tabs .tab-content img {
	display: block;
	margin-right: auto;
	margin-left: auto;
	height: auto;
	max-width: 70%;
}
.resume-content .tabs .tab-content p {
	font-size: 14px;
	color :rgba(61, 55, 55, 0.8);
}




.resume-content .tabs .tab-content > div {
	position:absolute;
	top:200%;
  	transition:all 500ms ease-in-out;
}
.resume-content .tabs .tab-content > div.active-tab {
	top:0px;
}
.resume-content .tabs .tab-indicator {
	position:absolute;
	width:5px;
	height:50px;
	background:rgb(67, 91, 226);
	left:270px;
	top:25px;
	transition:all 500ms ease-in-out;
  }





/*
############################################
PART 5: BODY STYLES - About Page
############################################
*/
.aboutpage .column {
	flex: 50%;
	padding: 10px;
	text-align: center;
}

.aboutpage {
	width: 80%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	animation-name: fadein2;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.75s;
	opacity: 1;
	font-family: 'Lora', serif;
}
.aboutpage .aboutpic {
	margin-top: 80px;
	width: 600px;
	border-radius: 5%;
}

.aboutpage .aboutme {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	text-align: left;
	color:rgb(88, 90, 105);
}

.aboutpage .aboutme-title {
	font-size: 28px;
	color:rgb(67, 91, 226);
	text-align: left;

}


@keyframes fadein2 {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}





/*
############################################
PART 6: FOOTER STYLES
############################################
*/
.footer1 {
	width: 100%;
	background-color: rgb(53, 49, 49);
	font-family: lora, serif;
	color: white;
	height: 70px;
	font-size: 12px;
	display: grid;
	grid-template-columns: 33.33% 33.33% 33.33%;
}
.footer1 a {
	color: white;
}


.footer1 .grid-item1 img {
	margin-top: 22px;
	margin-left: 15px;
}
.footer1 .grid-item1 .designed {
	display: inline-block;
	position: absolute;
	margin-top: 27px;
	margin-left: 8px;
}

.footer1 .grid-item2 {
	text-align: center;
	padding-top: 15px;
}
.footer1 .grid-item2 svg {
	display: inline-block;
	width: 50px;
	margin-left: 10px;
	margin-right: 10px;
}
.footer1 .grid-item2 svg:hover path {
	fill:rgb(67, 91, 226);
}

.footer1 .grid-item2 svg:hover circle {
	fill:white;
}


.footer1 .grid-item3 {
	text-align: right;
	display: inline-block;
	position: relative;
}

.footer1 .grid-item3 .positioning{
	position: absolute;
	bottom: 20px;
	right: 1px;
	padding-right: 5px;
}



/*
############################################
PART 7: BLOG INDEX PAGE
############################################
*/
.jumbotron .blog-h1 {
	font-size: 40px;
	font-weight: bold;
}
.jumbotron .blog-p {
	width: 45ch;
	text-align: center;
	font-size: 20px;
	margin-bottom: 50px;
}

.blog-index-page {
	text-align: center;
	margin: auto;
	background-color:#f9f9fc;
	padding-bottom: 40px;
	padding-top: 20px;
}
.blog-index-page .blog-post-box {
	font-size: 24px;
	text-decoration: none;
	display: block;
	color: rgb(54, 55, 59);
	text-align: center;
	min-height: 9rem;
	border-radius: 15px;
	background-color: white; 
	width: 69%;
	max-width: 900px;
	margin: auto;
	margin-top: 15px;
	transition: all 0.1s;
	cursor: pointer;
	overflow: hidden;
}
.blog-index-page .blog-post-box:hover {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	transform: translateY(-2px);
}

.blog-index-page .blog-post-box .post-thumbnail {
	width: 25%;
	margin: 0px;
    max-width: 100%;
	min-height: 10rem;
	background-size: cover;
	background-position: 50% 50%;
	display: inline-block;
	float: left;
}
.blog-index-page .blog-post-box .post-words {
	width: 75%;
	height: auto;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
}


.blog-post-box .post-title {
	margin-left: 1rem;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 32px;
	text-align: left;
	font-weight: 400;
}
.blog-post-box .post-description {
	margin-left: 1rem;
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: 'Open Sans', sans-serif;
	color: rgb(54, 55, 59);
	font-size: 18px;
	text-align: left;
	font-weight: 400;
}
.blog-post-box .post-date, .post-taglist, .post-readtime {
	margin-left: 1rem;
	font-family: 'Open Sans', sans-serif;
	color: rgb(65, 66, 71);
	font-size: 14px;
	text-align: left;
	float: left;
	font-weight: 400;
	display: inline;
}


/*
############################################
PART 8: BLOG POSTS
############################################
*/
.blog-post {
	width: 65ch;
	margin: auto;
	font-family: 'lora', serif;
	margin-top: 60px;
	margin-bottom: 20px;
	font-size: 21px;
	color:rgb(2, 2, 2);
}
.blog-post img {
	width:100%;
}
.blog-post h1 {
	font-weight: 400;
	font-size: 46px;
	margin-bottom: 5px;
	color: black;
}
.blog-post p{
	font-size: 21px;
	line-height: 1.6;
}
.blog-post h2 {
	margin-bottom: 21px;
	font-size: 26px;
	font-weight: bold;
	color: black;
}
.blog-post h3,h4 {
	font-size: 18px;
	color: black;
}
.blog-post blockquote {
	font-style: italic;
	border-left: rgb(67, 91, 226) 2px solid;
	padding-left: 15px;
}
table {
	border: 1px solid #ddd;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
} 
th, td {
	font-weight: 400;
	border: 1px solid #ddd;
	text-align: center;
	padding: 15px;
}
.blog-post img + em {
	color: rgb(88, 90, 105);
	font-size: 17px;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	display: block;
	font-family:'lora', sans-serif;
}

.blog-post .reading-time {
	color: rgb(144, 145, 158);
	font-size: 18px;
	margin-bottom: 65px;
}

.blog-post .post-tag {
	margin-left: 10px;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 3px;
	height: 2em;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: white;
	background-color: rgb(67, 91, 226);
	display: inline-block;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
}
.blog-comments:hover {
	cursor: pointer;
	color:rgb(67, 91, 226);
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.blog-post .emoji {
	display:inline;
	width: auto;
}

/*murphy code snippet*/
.highlight {border-style: inset; font-size: 16px; margin: 1px;}
.highlight .hll { background-color: #ffffcc;}
.highlight .c { color: #606060; font-style: italic } /* Comment */
.highlight .err { color: #F00000; background-color: #F0A0A0 } /* Error */
.highlight .k { color: #208090; font-weight: bold } /* Keyword */
.highlight .o { color: #303030 } /* Operator */
.highlight .cm { color: #606060; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #507090 } /* Comment.Preproc */
.highlight .c1 { color: #606060; font-style: italic } /* Comment.Single */
.highlight .cs { color: #c00000; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #808080 } /* Generic.Output */
.highlight .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0040D0 } /* Generic.Traceback */
.highlight .kc { color: #208090; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #208090; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #208090; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #0080f0; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #208090; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #6060f0; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #6000E0; font-weight: bold } /* Literal.Number */
.highlight .s { background-color: #e0e0ff } /* Literal.String */
.highlight .na { color: #000070 } /* Name.Attribute */
.highlight .nb { color: #007020 } /* Name.Builtin */
.highlight .nc { color: #e090e0; font-weight: bold } /* Name.Class */
.highlight .no { color: #50e0d0; font-weight: bold } /* Name.Constant */
.highlight .nd { color: #505050; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #800000 } /* Name.Entity */
.highlight .ne { color: #F00000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #50e0d0; font-weight: bold } /* Name.Function */
.highlight .nl { color: #907000; font-weight: bold } /* Name.Label */
.highlight .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #007000 } /* Name.Tag */
.highlight .nv { color: #003060 } /* Name.Variable */
.highlight .ow { color: #000000; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #6000E0; font-weight: bold } /* Literal.Number.Float */
.highlight .mh { color: #005080; font-weight: bold } /* Literal.Number.Hex */
.highlight .mi { color: #6060f0; font-weight: bold } /* Literal.Number.Integer */
.highlight .mo { color: #4000E0; font-weight: bold } /* Literal.Number.Oct */
.highlight .sb { background-color: #e0e0ff } /* Literal.String.Backtick */
.highlight .sc { color: #8080F0 } /* Literal.String.Char */
.highlight .sd { color: #D04020 } /* Literal.String.Doc */
.highlight .s2 { background-color: #e0e0ff } /* Literal.String.Double */
.highlight .se { color: #606060; font-weight: bold; background-color: #e0e0ff } /* Literal.String.Escape */
.highlight .sh { background-color: #e0e0ff } /* Literal.String.Heredoc */
.highlight .si { background-color: #e0e0e0 } /* Literal.String.Interpol */
.highlight .sx { color: #f08080; background-color: #e0e0ff } /* Literal.String.Other */
.highlight .sr { color: #000000; background-color: #e0e0ff } /* Literal.String.Regex */
.highlight .s1 { background-color: #e0e0ff } /* Literal.String.Single */
.highlight .ss { color: #f0c080 } /* Literal.String.Symbol */
.highlight .bp { color: #007020 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #c0c0f0 } /* Name.Variable.Class */
.highlight .vg { color: #f08040 } /* Name.Variable.Global */
.highlight .vi { color: #a0a0f0 } /* Name.Variable.Instance */
.highlight .il { color: #6060f0; font-weight: bold } /* Literal.Number.Integer.Long */
