<!DOCTYPE html>
<html>
<head>
  <!-- General -->
  <meta charset ="utf-8">
  <title>Robert Wang</title>
  <link rel="shortcut icon" type="image/png" href="/assets/img/logo-blue.png"/>
  <meta name="viewport" content="initial-scale=1.0" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400" rel="stylesheet">
  <link href="/assets/css/style.css" rel="stylesheet">
  
  <!-- MathJax Latex Plugin-->
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-XFHVETL3XM"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-XFHVETL3XM');
  </script>
</head>



<body>
  <div class="blog-global-container">
    <!-- HEADER -->
    <header id="navbar">
        <nav class="navbar-container">
          <a href="/index.html" class="name">Robert Wang</a>

          <button type="button" class="navbar-toggle" aria-label="Open navigation menu">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>

          <div class="navbar-menu">
            <ul class="navbar-links">
              <li class="navbar-item"><a class="navbar-link" href="/index.html">Home</a></li>
              <li class="navbar-item"><a class="navbar-link" href="/engineering.html">Engineering</a></li>
              <li class="navbar-item"><a class="navbar-link" href="/musing.html">Blog</a></li>
              <li class="navbar-item"><a class="navbar-link" href="/about.html">About</a></li>
            </ul>
          </div>
        </nav>
        <hr class="hr-threequarter">
    </header>


    <!-- Post title, tag, word count, read time -->
    <div class ="blog-wrapper">
      <div class="blog-post">
        <h1>{{page.title}}</h1>
        <div>
          {% for tag in page.tags %}
          <a class="post-tag" href="/tags.html#{{tag}}">{{ tag }}</a>
          {% endfor %}
        </div>
        <div class="reading-time" title="Estimated read time">
          <div>
            Published: {{page.date | date_to_string}}
          </div>
          {% assign words = content | number_of_words %}
            {% if words < 360 %}
              1 min
            {% else %}
              {{ words | divided_by:180 }} mins
            {% endif %}
            read
        </div>
        

        <!-- Blog content -->
        {{content}}

        <hr style="margin-top: 4rem; margin-bottom: 2rem;">





        <!-- Newsletter Signup Mailchimp -->
        <div class="mailchimp-container">
          <h3 style="text-align: center;">Rob's Engineering Notes</h3>
          <div style="text-align: center; font-size:0.9rem; padding: 5px">If you like this post, subscribe for more insights on engineering, automation, Python, computation design, Opensees, and more!</div>


          <div id="mc_embed_shell">
            <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
            <style type="text/css">
                  #mc_embed_signup{background:#fff; false;clear:left; font:14px Helvetica,Arial,sans-serif; width: px;}
                  /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                    We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
            </style>
            <div id="mc_embed_signup">
                <form action="https://robwang.us9.list-manage.com/subscribe/post?u=41c7f22a057158e698ab713cc&amp;id=5536b3b520&amp;f_id=00c122e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                        <div id="mc_embed_signup_scroll">
                            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                            <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""></div>
                        <div id="mce-responses" class="clear foot">
                            <div class="response" id="mce-error-response" style="display: none;"></div>
                            <div class="response" id="mce-success-response" style="display: none;"></div>
                        </div>
                    <div aria-hidden="true" style="position: absolute; left: -5000px;">
                        /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                        <input type="text" name="b_41c7f22a057158e698ab713cc_5536b3b520" tabindex="-1" value="">
                    </div>
                        <div class="optionalParent">
                            <div class="clear foot">
                                <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                                <p style="margin: 0px auto;"><a href="http://eepurl.com/jdpJtw" title="Mailchimp - email marketing made easy and fun"><span style="display: inline-block; background-color: transparent; border-radius: 4px;"><img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a></p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';fnames[6]='COMPANY';ftypes[6]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
          </div>
          


        </div>








        <!-- Disqus comment. Disable ads if site gets bigger ($120/year pricing...) -->
        <a class="blog-comments" onclick="showdisqus();return false;">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-fill" viewBox="0 0 16 16">
            <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9 9 0 0 0 8 15"/>
          </svg>
          <span class="disqus-comment-count" data-disqus-url='{{ page.url | absolute_url }}'>Comments</span>
        </a>

        <div id="disqus_thread" style="display: none;"></div>
        <script>
          /**
          *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
          *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
          var disqus_config = function () {
          this.page.url = '{{ page.url | absolute_url }}';  // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = '{{ page.url }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
          };

            (function() {
            var d = document, s = d.createElement('script');
            s.src = 'https://robwang-io.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

      </div>
    </div>




  </div>






  <!-- FOOTER -->
  <footer class="footer1">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-7 -7 30 30">
      <g>
        <a xlink:href="mailto:temprobertdev@gmail.com?subject=Hello!">
          <circle cx="8" cy="8" r="14" fill=" rgb(75, 70, 70)"/>
          <path fill="white" transform="scale(0.8) translate(2,2)" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
        </a>
      </g>
    </svg>

    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-7 -7 30 30">
      <g>
        <a xlink:href="https://www.linkedin.com/in/robert-cf-wang/">
          <circle cx="8" cy="8" r="14" fill="rgb(75, 70, 70)"/>
          <path fill="white" transform="scale(0.8) translate(2,2)" d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
        </a>
      </g>
    </svg>

    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-7 -7 30 30">
      <g>
        <a xlink:href="https://github.com/wcfrobert">
          <circle cx="8" cy="8" r="14" fill="rgb(75, 70, 70)"/>
          <path fill="white" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
        </a> 
      </g>
    </svg>
    <div class="copyright-footer">&copy; 2021 - {{ "now" | date: "%Y" }} Robert Wang. All rights reserved.</div>
  </footer>

  <script id="dsq-count-scr" src="//robwang-io.disqus.com/count.js" async></script>
  <script src="/assets/js/custom.js"></script>
</body>
</html>