<!-- This is a comment tag to describe your code-->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>HTML tutorial</title>
</head>


<body>
  <header>
    Header where we have company logo and navigation
    <nav>a navigation bar</nav>
  </header>



  <section id="sectionID">
    <h1>SECTIONID</h1>
  	<h1>Heading 1</h1>
  	<h2>Heading 2</h2>
  	<h3>Heading 3</h3>
  	<h4>Heading 4</h4>
  	<h5>Heading 5</h5>
  	<h6>Heading 6</h6>
  </section>

  <section>
    Section 1
    <article>article 1</article>
  </section>

  <section>
    Section 2
    <article>article 2</article>
    <div>a regular div element</div>
  </section>

  <aside>some information that relates to main topic</aside>

  <footer>
    RW copyright 2020
  </footer>

<hr>
<br>

  My unordered list:
  <ul>
    <li>item 1</li>
    <li>Milk</li>
    <li>Eggs</li>
    <li>Cookies with sublist
      <ul>
        <li>suger</li>
        <li>butter</li>
      </ul>
    </li>
  </ul>


  My ordered list:
  <ol>
    <li>step 1</li>
    <li>step 2</li>
    <li>step 3 with sub steps
      <ol>
        <li>step 3a</li>
        <li>step 3b</li>
      </ol>
    </li>
  </ol>


<hr>

<!--
Linking to an external website. 
Target=blank opens a new tab for link.
Title is good for SEO and accessibility for visually impaired
-->
<a href="http://www.google.com" target="_blank" title="external link">An external link</a>

<br>

<!--Internal links:-->
<a href="same-directory.html" title="some link">
  Linking to a file in the same directory. Inline element
</a>

<a href="same-directory.html" title="some link">
  <div>Div linking creates a block element so you can click on a region</div>
</a>

<!--Linking to section of a document-->
<a href="#sectionID">internal section link with a pound sign. Have ID with the section you want to link to.</a>



</body>
</html>